[2020-02-02 01:24] ChiefGeorge opened #28 "Translating into Greek"
Hello there !

I'm a CSD undergraduate in Greece. I am willing to contribute to this community by translating the TensorFlow docs into Greek . As the language isn't listed , I would like some instructions to begin with . Looking forward to your reply !

[2020-02-04 18:39] lamberta commented on #28
Thanks, George. Since we're working on this in https://github.com/tensorflow/docs-l10n/pull/30 will close this.

[2020-02-04 18:39] #28 closed

[2020-02-13 02:21] jungmin-lim opened #45 "Tensorflow installation document Korean translated page outdated"
## URL(s) with the issue

https://www.tensorflow.org/install?hl=ko

## Description of issue (what needs changing)

On installation document/windows build from source page, it tells that "TensorFlow를 컴파일하는 데 사용되는 빌드 도구인 Bazel 0.23.0을 설치합니다. C++를 빌드하도록 Bazel을 설정합니다." which means install Bazel 0.23.0 to compile Tensorflow. However, most recent version of Tensorflow which is r2.1, doesn't support Baze

[2020-02-17 09:28] rickiepark commented on #45
Hi @jungmin-lim,
Unfortunately, I think It's not part of community translations. :(

[2020-02-17 10:27] jungmin-lim commented on #45
Sorry. Then where should I report this? I reported this issue at Tensorflow/Tensorflow but they told me to report here.
https://github.com/tensorflow/tensorflow/issues/36678

[2020-02-17 15:05] rickiepark commented on #45
Hi @lamberta ,
This issue is for translation of https://github.com/tensorflow/docs/blob/master/site/en/install/source_windows.md
You know, Installation markdown is not part of community translations.
How can we fix the error? :)

[2020-02-18 19:45] lamberta commented on #45
Reporting here is fine, thanks.
I need to run another internal translation job but hitting a bug :/
Will keep this open

[2020-02-20 17:42] lamberta commented on #45
Sent off a new job for the /install section. tensorflow.org should be updated in a few weeks, but times can vary.

[2020-02-20 17:42] #45 closed

[2020-02-24 17:23] lmagoncalo opened #72 "Portuguese version"
Is it possible to correct some Portuguese notebooks, as they have some typos? I'm a Portuguese native speaker.

[2020-02-24 19:59] lamberta commented on #72
Yes, these are community-provided translations—please join as a contributor or a reviewer and send a pull request.

More info available here: https://www.tensorflow.org/community/contribute/docs#community_translations
and in README docs in this repo: https://github.com/tensorflow/docs-l10n/tree/master/site

If you add your github username to the REVIEWERS file: https://github.com/tensorflow/docs-l

[2020-02-24 19:59] #72 closed

[2020-03-02 20:15] jaketae opened #103 "Translating TensorFlow tutorials landing page"
Hello, I was wondering if the TensorFlow tutorial [landing page](https://www.tensorflow.org/tutorials?hl=ko) should be translated by the community. Though I cannot be certain, the page seems to be built from [this source](https://github.com/tensorflow/docs/blob/master/site/en/tutorials/_index.yaml), which is in yaml format. After checking out the TensorFlow website under different language options

[2020-03-04 18:47] lamberta commented on #103
Hi @jaketae

See the do not translate section here: https://github.com/tensorflow/docs-l10n#do-not-translate
For ko, ja, and zh-cn, we use a different system to translate landing pages and leftnav files. These files should not be translated directly by the community.

To resolve inconsistencies, I could send along a list of fixes to use as a reference—similiar to this section: https://github.com/t

[2020-03-04 19:09] jaketae commented on #103
@lamberta Thank you for pointing me to the links. I now realize that these files are not to be translated by the community and that the website is built using its own system. I was just wondering, however, if it would be possible to improve the translation of the website in general. For instance, the [overview page](https://www.tensorflow.org/overview?hl=ko) of the Korean website translates "Tutor

[2020-03-04 19:15] lamberta commented on #103
Yeah, it's definitely something we can work on.
To start, we could create a public spreadsheet that is maintained by the community—then can point the internal folks to that for new requests.

Maybe this is something you can suggest on the docs-ko@tensorflow.org list?

cc: @rickiepark

[2020-03-04 19:59] jaketae commented on #103
Sounds great! I'd be more than happy to help, but that seems more like a communal initiave that @rickiepark would be fit to lead. At the very least, I'm thinking I can wait for his input on this to organize the logistics. We will get something started on docs-ko@tensorflow.org and keep you in the loop!

[2020-03-12 22:26] rickiepark commented on #103
Thanks @jaketae and @lamberta
There are a spreadsheet for this(https://docs.google.com/spreadsheets/d/1cuvihE7Xm3HC2v3kvWemmMpps606gLZ2PwaPwsIPlCU/).
But we need more LGTM in that sheet. :(

[2020-03-12 22:46] jaketae commented on #103
@rickiepark I wasn't aware of this spreadsheet! Thank you for sharing.

@lamberta Seems like we already had a public spreadsheet in the making, although it looks like some updating would be necessary. In this case, what would the workflow look like?

[2020-03-13 00:22] lamberta commented on #103
Another thing to keep in mind is since we're now in this new translation-focused GitHub repo, we can use things like [GitHub Projects](https://github.com/features/project-management/), if we want.

For my purposes, I just need a URL to attach the job. Even still, they don't do the best job 😒 One reason why the community asked to translate themselves (!)

[2020-03-17 00:25] lamberta opened #128 "Add CI for notebook formatting with nbfmt"
Previewing notebook diffs in GitHub can be difficult. We wrote [nbfmt.py](https://github.com/tensorflow/docs/blob/master/tools/nbfmt.py) to normalize the formatting for notebooks—alpha sort JSON keys, set indentation, etc.

After some successful manual tests (https://github.com/tensorflow/docs-l10n/pull/114, https://github.com/tensorflow/docs/pull/1498), the next step is to add it to the CI for ne

[2020-03-17 12:34] mohamed-ali opened #129 "Support Arabic and RTL in Tensorflow documentation"
As suggested by @lamberta, I am creating this issue to gather information about the extent to which Tensorflow website supports Arabic and RTL (Right to left) layout in general.

In fact, I started translating two of Tensorflow's tutorials into Arabic with the following two PRs:
* https://github.com/tensorflow/docs-l10n/pull/121
* https://github.com/tensorflow/docs-l10n/pull/122

Knowing that Goog

[2020-03-17 18:42] lamberta commented on #129
Thanks @mohamed-ali

Just making a note to test wrapping Markdown text within a `<div>` since I think this doesn't work in some Markdown parsers (for the site?)

[2020-03-18 10:33] mohamed-ali commented on #129
@lamberta I understand that wrapping the markdown with `<div dir="rtl"></div>` could disable the markdown parser on the wrapped text. However, for a first version, having an understandable/readable content with the correct display is more important than minor styling. Also, as an arabic reader, a text mixing RTL and LTR words, if not properly displayed loses all meaning.

In the other hand, most o

[2020-03-18 16:41] lamberta commented on #129
It will break elements like lists. Also, among our preprocessing steps, we use backticks around code symbols to auto-link to the corresponding API reference page.

I support adding right-to-left support, but we need to investigate where in the pipeline this should be added. Requiring Arabic community contributors to know when to use this particular element vs something else is too much---which wil

[2020-03-18 17:31] mohamed-ali commented on #129
@lamberta  It seems that there is an easier alternative to achieve correct RTL display: The layout can be fixed as a post-processing using the following CSS.

[code]

This has the added advantage of keeping the current pipeline with all its features, that you described, intact.

I tried these rules on the live website https://www.tensorflow.org/tutorials/keras/classification and it changes the rel

[2020-03-18 17:36] lamberta commented on #129
Ah, that is interesting. Good one
I've filed an internal issue (b/151835181) to communicate with the site infra and Colab teams to see if we can decide on the "right" solution for this.

If we add the CSS for the site, do any browser display settings kick in on COlab if it detects a locale or anything?

[2020-03-18 17:55] mohamed-ali commented on #129
If we want to, it is possible to add a logic that loads the rtl file when the user is accessing the website from a country that requires RTL.

I also checked on colab, the same css rules as above work
[code]
Here is the original link https://colab.research.google.com/notebooks/intro.ipynb, and here's how it looks with the css corrections:

<img width="707" alt="Screenshot 2020-03-18 at 18 45 03" s

[2020-03-18 19:31] lamberta commented on #129
Ok, the site infra for tensorflow.org should already support this (though we need to test).
Colab does not support RTL but there is a feature request (b/110534608) and I'll bump that.

So, for now, let's add a notebook *without* `rtl` divs or CSS to see where we're at. And then work on some of the underlying infra issues before adding workarounds (which may complicate our docs pipeline).

[2020-03-19 01:00] lamberta commented on #129
Ok, new plan ...

At this time, there are no plans for Colab to support the "toggle rtl layout" preference that Jupyter currently has. So:

1. `ar/` notebooks will need to wrap all *text* cells in `<div dir="rtl">`. This seems to render the inner Markdown and HTML content correctly in both Colab and Jupyter.
2. We need to add support to our docs pipeline to strip these divs before building the HTM

[2020-03-19 09:49] mohamed-ali commented on #129
That's great.

Few clarifications about the notebooks linked above which are rendered from the two PRs I put in the issue description:

Links don't seem to be rendered correctly:
[code]
Therefore, I wrapped them with
[code]

Code doesn't render
[code]
Therefore, I used <code>
[code]

The `code` isn't  mandatory, it  can be kept as is. However rendering links correctly is useful.

Potential solutio

[2020-03-19 11:26] mohamed-ali commented on #129
We can use this PR to test the above plan: https://github.com/tensorflow/docs-l10n/pull/121

[2020-03-19 16:39] lamberta commented on #129
My tests in Colab show the following renders correctly in a text cell. Are you seeing something different? ...

[code]

As mentioned, among our preprocessing steps, we use backticks around code symbols to auto-link to the corresponding API reference page. Aside from adding the wrapping `<div dir="rtl">` formatting should remain consistent with the source-of-truth. Since these notebook are rendered

[2020-03-19 16:44] mohamed-ali commented on #129
@lamberta You are right, what your example renders correctly

[code]

However, it doesn't render correctly without the whitespace, as follows:

[code]

[2020-03-19 17:09] mohamed-ali commented on #129
@lamberta  I updated the PR https://github.com/tensorflow/docs-l10n/pull/121 to remove all the use of html except `<div dir="rtl"></div>`. Can we use it to test the output?

[2020-03-19 17:38] lamberta commented on #129
Yes, looks good. Thanks
I tagged in @baheytharwat to review that notebook. Once merged, we can use that to test. We still need to add functionality on our side, though.

[2020-03-20 06:52] hurutoriya opened #134 "Generate unexpected notebook cell in Japanese Documentation"
I found issues about after convert to docs that generated extra notebook cell.

- https://www.tensorflow.org/tutorials/keras/classification in Japanesse version

![image](https://user-images.githubusercontent.com/2786333/77142134-896c5780-6ac2-11ea-94f8-8e97e35c7521.png)

- Original: notebook
- https://github.com/masa-ita/tf-docs/blob/b8cd622e042ce322345d5fa30858087ee1abcab1/site/ja/tutorials/kera

[2020-03-20 07:36] sfujiwara commented on #134
@lamberta The original notebook in docs-l10n repository does not include such an empty cell.
Is that a problem in Google's internal system building the documents from notebooks?

[2020-03-20 19:42] yashk2810 commented on #129
This is now live: https://www.tensorflow.org/tutorials/quickstart/beginner?hl=ar

[2020-03-20 19:42] #129 closed

[2020-03-20 19:46] lamberta commented on #129
Great! Thanks, Yash.
And congrats to @mohamed-ali , @baheytharwat , and @tayciryahmed . I look forward to seeing the community grow

[2020-03-20 19:59] mohamed-ali commented on #129
It's great to see the results. Thanks @lamberta and @yashk2810 for your assistance in bringing this to life.

Thanks @baheytharwat  and @tayciryahmed

[2020-03-20 20:01] yashk2810 commented on #129
No problem :)

Keep those PR's coming!

[2020-03-20 20:37] MarkDaoust opened #136 "Several notebooks failing on `keras.experimental.export_saved_model`"
https://github.com/tensorflow/docs-l10n/search?q=%22keras.experimental.export_saved_model%22&unscoped_q=%22keras.experimental.export_saved_model%22

[code]

These should just be `model.save('path_to_saved_model')`, and `keras.models.load_model('path_to_saved_model')`.

[2020-03-20 20:49] MarkDaoust opened #137 "Some notebooks using: `tf-nightly-2.0-preview`"
This package does not exist anymore. Please upgrade all notebooks to use `%tensorflow_version 2x`.

https://github.com/tensorflow/docs-l10n/search?q=tf-nightly-2.0-preview&unscoped_q=tf-nightly-2.0-preview

[2020-03-20 20:53] MarkDaoust opened #138 "[ja] load_data/csv.ipynb using non-existant "Dataset.output_shapes"."
This tutorials is currently broken (also needs a `%tensorflow_version 2.x`):

https://github.com/tensorflow/docs-l10n/blob/master/site/ja/tutorials/load_data/csv.ipynb

[2020-03-23 11:21] sfujiwara opened #144 "[ja] Automatic proofreading on GitHub Actions"
We, Japanese community members, are using a [proofreading tool](https://github.com/tfug/proofreading).

We want to apply the proofreading tool on CI and make Japanese contributors to pass it.
Thus, our questions are below:

**1. Could we create `docs-l10n/.github/workflows/ja.yml`?**

We want to define a GitHub Actions's workflow for Japanese documents proofreading.
The setting below will not affe

[2020-03-23 18:52] lamberta commented on #134
Probably related to the `%tensorflow_version 2.x` that we need to include in Colab. See https://colab.research.google.com/github/tensorflow/docs/blob/master/site/en/tutorials/keras/classification.ipynb
This block is stripped when imported into tensorflow.org.
But soon enough, Colab will default to TF 2 and we can remove these blocks throughout.

[2020-03-23 18:54] lamberta commented on #136
If we create issues by language, then we can assign/cc folks from the `site/<lang>/REVIEWERS` file(s)

[2020-03-23 19:02] lamberta opened #145 "[ja] Remove references to tf-nightly-2.0-preview package"
The `tf-nightly-2.0-preview` package does not exist anymore. Please upgrade all notebooks to use `%tensorflow_version 2.x` like:

[code]

Affects:

* [/site/ja/lite/convert/python_api.md](https://github.com/tensorflow/docs-l10n/blob/master/site/ja/lite/convert/python_api.md)
* [/site/ja/guide/function.ipynb](https://github.com/tensorflow/docs-l10n/blob/master/site/ja/guide/function.ipynb)
* [/site

[2020-03-23 19:03] lamberta commented on #145
REVIEWERS cc: @ohtaman @sfujiwara @masa-ita @AseiSugiyama @yukinagae @nuka137 @chie8842 @kiszk

[2020-03-23 19:06] lamberta opened #146 "[zh-cn] Remove references to tf-nightly-2.0-preview package"
The `tf-nightly-2.0-preview` package does not exist anymore. Please upgrade all notebooks to use `%tensorflow_version 2.x` like:

[code]

Affects:

* [/site/zh-cn/lite/convert/python_api.md](https://github.com/tensorflow/docs-l10n/blob/master/site/zh-cn/lite/convert/python_api.md)
* [/site/zh-cn/tutorials/estimator/boosted_trees.ipynb](https://github.com/tensorflow/docs-l10n/blob/master/site/zh-cn

[2020-03-23 19:07] lamberta commented on #146
REVIEWERS cc: @kuri-leo @JayYip @yantaozhao @loveunk @wind2esg @tigerneil @MofiiTech @gaoljhy @Mr-Linus @flopsySong @echosun1996

[2020-03-23 19:10] lamberta opened #147 "[ko] Remove references to tf-nightly-2.0-preview package"
The `tf-nightly-2.0-preview` package does not exist anymore. Please upgrade all notebooks to use `%tensorflow_version 2.x` like:

[code]

Affects:

* [/site/ko/tutorials/keras/text_classification.ipynb](https://github.com/tensorflow/docs-l10n/blob/master/site/ko/tutorials/keras/text_classification.ipynb)
* [/site/ko/tutorials/keras/overfit_and_underfit.ipynb](https://github.com/tensorflow/docs-l10

[2020-03-23 19:11] lamberta commented on #147
REVIEWERS cc: @rickiepark @cre8tor @choiuijin1125 @JKIsaacLee @NoelBird @wckim @eat-toast @jaketae

[2020-03-23 19:12] lamberta commented on #137
Broke this issue up on language to make it easier for reviewers:

* https://github.com/tensorflow/docs-l10n/issues/145
* https://github.com/tensorflow/docs-l10n/issues/146
* https://github.com/tensorflow/docs-l10n/issues/147

[2020-03-23 19:12] #137 closed

[2020-03-23 19:16] jaketae commented on #147
I’ll work on the fix today and open a PR!

[2020-03-23 19:21] lamberta commented on #144
Sounds good to me. But still figuring out adding `nbfmt.py` as CI using GitHub Actions. It seems there are a lot (security) restrictions if you want to automatically add commits on a pull requests. But if you just want to use it for pass/fail tests and surface that in the PR, that is more straightforward.

[2020-03-23 19:25] lamberta commented on #138
Please take a look REVIEWERS: @ohtaman @sfujiwara @masa-ita @AseiSugiyama @yukinagae @nuka137 @chie8842 @kiszk

You can try using the [nb_code_sync.py](https://github.com/tensorflow/docs/blob/master/tools/nb_code_sync.py) script to help keep notebooks up-to-date.

[2020-03-24 01:04] rickiepark commented on #147
Thanks @jaketae :)

[2020-03-24 04:34] AseiSugiyama commented on #145
Thank you for your notification, we'll update & fix them.

[2020-03-24 21:30] #147 closed

[2020-03-25 02:29] sfujiwara commented on #144
Thanks.

We are not planning to automatically add commits on CI. Just applying our proofreading tool for pass/fail tests. Translators should pass the test in their commits and PRs.

If it's okay, we are willing to make a PR to add `docs-l10n/.github/workflows/ja.yml`.

[2020-03-25 07:25] lamberta commented on #144
Cool. Yeah, please submit a PR and we can go through it. I'm not familiar with all of your tooling, so will need you (or someone in the community) to maintain it. But sounds good to me 😀

[2020-03-27 14:27] MarkDaoust opened #154 "[zh-cn] Notebooks failing"
### site/zh-cn/tutorials/distribute/multi_worker_with_keras.ipynb

[code]

###  site/zh-cn/tutorials/generative/style_transfer.ipynb

[code]

### site/zh-cn/tutorials/keras/text_classification_with_hub.ipynb

[code]

[2020-03-27 14:31] yashk2810 commented on #154
Thanks Mark 😀

You can use the nb_code_sync tool (https://github.com/tensorflow/docs/blob/master/tools/nb_code_sync.py) to sync your notebooks to the SOT.

[2020-03-27 19:33] lamberta commented on #154
REVIEWERS cc: @kuri-leo @JayYip @yantaozhao @loveunk @Wind2esg @tigerneil @MofiiTech @gaoljhy @Mr-Linus @flopsySong @echosun1996

[2020-03-28 03:50] AseiSugiyama commented on #145
I think https://github.com/tensorflow/docs-l10n/pull/152 fixed this issue. However, We have to update these outdated documents.

- [/site/ja/lite/convert/python_api.md](https://github.com/tensorflow/docs-l10n/blob/master/site/ja/lite/convert/python_api.md)
- [ja/tutorials/load_data/csv.ipynb](https://github.com/tensorflow/docs-l10n/blob/master/site/ja/tutorials/load_data/csv.ipynb) (it's broken as

[2020-03-28 05:23] lamberta commented on #145
Thanks @AseiSugiyama for taking a look.

Now that Colab defaults to TF 2.2, we can remove the `%tensorflow_version 2.x` block from notebooks.

Mark just merged https://github.com/tensorflow/docs-l10n/pull/152 which should remove them, but we may need to keep an eye on any outstanding pull requests

[2020-03-28 15:09] AseiSugiyama commented on #145
Right, I would like to contribute to the TF community to be an "eye" 👀

By the way, I found it is hard to update translated documents to follow the original document since we lack the sync tool like `nb_code_sync.py` after separating docs repo and docs-l10n repo. Do you have any ideas about this?

[2020-03-30 16:26] lamberta commented on #145
@AseiSugiyama Hello. `nb_code_sync.py` should still work, you can pass it the `--src` argument.
But, point taken, I'll look into streamlining that tool now that the repos are separate

[2020-04-01 08:25] humaohai opened #161 "padded_batch() missing 1 required positional argument: 'padded_shapes' in line train_data = train_data.padded_batch(BATCH_SIZE)"
padded_batch() missing 1 required positional argument: 'padded_shapes' in line train_data = train_data.padded_batch(BATCH_SIZE)

[2020-04-01 08:37] humaohai commented on #161
train_data = train_data.padded_batch(BATCH_SIZE,padded_shapes=([None],[]))
change code like this worked well , i close this issue.

[2020-04-01 08:37] #161 closed

[2020-04-01 23:04] lamberta commented on #128
This is now working for new pull requests (and updates to existing ones)

[2020-04-01 23:04] #128 closed

[2020-04-04 23:56] AseiSugiyama commented on #145
@lamberta How about the result of your taking a look? I think it is not obvious the way to maintain the `en` directory and other languages' directory that we can use `nb_code_sync.py` with git only because `docs` and `docs-l10n` are separated.

[2020-04-05 05:19] lamberta commented on #145
Hi @AseiSugiyama , thanks for taking a look.
I made the command-line errors a little easier to read in https://github.com/tensorflow/docs-l10n/pull/175, but the script seems to work-as-intended:

[code]

Unfortunately. these Japanese notebooks are quite out-of-date and missing a number of code cells that are in the en/ source-of-truth. This script assumes that the number of code cells matches betw

[2020-04-05 11:22] AseiSugiyama commented on #145
@lamberta Thank you for your kindly reporting! It sounds nice that we will be able to use the `nb_code_sync.py` after updating these three notebooks (maybe). I made a PR for csv.ipynb https://github.com/tensorflow/docs-l10n/pull/176 and try to update all these notebooks.

[2020-04-10 14:11] MarkDaoust opened #181 "[ru] Failing notebooks."
https://github.com/tensorflow/docs-l10n/blob/master/site/ru/guide/migrate.ipynb

[code]

https://github.com/tensorflow/docs-l10n/blob/master/site/ru/tutorials/keras/save_and_load.ipynb
[code]

https://github.com/tensorflow/docs-l10n/blob/master/site/ru/tutorials/keras/text_classification_with_hub.ipynb
[code]

https://github.com/tensorflow/docs-l10n/blob/master/site/ru/tutorials/load_data/text.ipy

[2020-04-10 14:21] MarkDaoust commented on #181
Tis will be fixed by 2.2, so can maybe just be ignored for now.

[2020-04-10 14:22] MarkDaoust commented on #134
Done.

[2020-04-10 14:22] #134 closed

[2020-04-10 14:23] #136 closed

[2020-04-10 16:48] lamberta commented on #181
Adding [REVIEWERS](https://github.com/tensorflow/docs-l10n/blob/master/site/ru/REVIEWERS): @0101011 @stabuev

[2020-04-10 18:00] yashk2810 opened #184 "[ko] Notebooks out of sync"
Hello,

Please sync the ko notebooks to the source of truth notebooks using the nb_code_sync tool here( https://github.com/tensorflow/docs-l10n/blob/master/tools/nb_code_sync.py).

Currently, many of them are failing.

[2020-04-10 18:13] lamberta commented on #184
Adding [REVIEWERS](https://github.com/tensorflow/docs-l10n/blob/master/site/ko/REVIEWERS): @rickiepark @cre8tor @choiuijin1125 @JKIsaacLee @NoelBird @wckim @eat-toast @jaketae
Please take a look.

@yashk2810 I think the community could benefit from more explicit guidance. Which notebooks? And do you know why? It seems odd a bunch started failing since their haven't been any new merges this week.

[2020-04-10 18:18] yashk2810 commented on #184
The builds have been failing for a long time. I am increasing the timeout for those, but for example `style_transfer` still has mentions of tensorflow.contrib.

[code]

I can get you the list of notebooks that fail, but it would still be nice to sync atleast all the guides and tutorials directory since some of the code has been updated there.

A notebook working is not indicative of the latest cod

[2020-04-10 22:18] jaketae commented on #184
I will take a look at `style_transfer.ipynb` and file a PR today. @yashk2810 @lamberta Sorry if this is a basic question, but is there a systematized way of making sure that our code base is in sync? Reviewers can take a look once in a while, but I feel like doing so manually is ineffective and creates room for error.

[2020-04-10 22:19] yashk2810 commented on #184
Yup, you can use the nb_code_sync tool.
https://github.com/tensorflow/docs-l10n/blob/master/tools/nb_code_sync.py

[2020-04-10 22:41] lamberta commented on #184
Hi @jaketae

Nothing automated across the entire code base. We get notifications when a notebook breaks but, as @yashk2810 mentioned, it may still contain out-of-date code that happens to work.

[nb_code_sync.py](https://github.com/tensorflow/docs-l10n/blob/master/tools/nb_code_sync.py) is useful for detecting when *code cells* are out of sync with the `en/` source. It's far from perfect, but has

[2020-04-10 23:03] jaketae commented on #184
Thank you very much for the pointers! [nb_code_sync.py](https://github.com/tensorflow/docs-l10n/blob/master/tools/nb_code_sync.py) seems like a great handle little tool to better maintain the notebooks we have at the moment. I'll definitely take a look and try using it myself.

[2020-04-11 01:42] yashk2810 commented on #184
These are the notebooks that failed:

site/ko/tutorials/images/segmentation.ipynb
site/ko/tutorials/generative/style_transfer.ipynb
site/ko/tutorials/distribute/save_and_load.ipynb
site/ko/tutorials/distribute/multi_worker_with_keras.ipynb
site/ko/tutorials/keras/save_and_load.ipynb
site/ko/swift/python_interoperability.ipynb
site/ko/guide/random_numbers.ipynb

[2020-04-11 01:45] yashk2810 commented on #184
For the swift notebook, please save the outputs in it.

[2020-04-12 08:23] jaketae commented on #184
@lamberta @yashk2810 Apologies for the delay, I got carried away by other things yesterday. I just ran the command

[code]

but was returned with this error:

[code]

So it seems like the way to go about this would be to manually go back and forth to check if the notebooks are in sync. I can definitely do that, but before I begin engaging in menial work, I was wondering if there are any other opti

[2020-04-12 08:26] jaketae commented on #184
@rickiepark I'm not well-acquainted with how Swift notebooks are maintained. Should this be added as an instruction on README for community translators?

[2020-04-12 08:36] rickiepark commented on #184
Hi @jaketae
Yes, there is a note in README: "S4TF 노트북은 꼭 출력 결과가 포함되어야 합니다" :)
Please check https://github.com/tensorflow/docs-l10n/tree/master/site/ko

[2020-04-12 08:37] jaketae commented on #184
@rickiepark Oops, my bad. I should have checked before I tagged you. My apologies, and thank you for the confirmation!

[2020-04-12 21:31] lamberta commented on #184
Hi @jaketae
Yes, unfortunately the nb_code_sync tool assumes the same amount of code cells in both source and translation notebook. If they don't match, that probably indicates the translation is quite out of date.
I'll think about better ways to automate this. I could make sure cell metadata is the same across both notebooks, but we haven't enforced that.

[2020-04-18 01:18] AseiSugiyama commented on #138
I think this issue has been fixed by https://github.com/tensorflow/docs-l10n/pull/176 so we can close this issue safely.

@lamberta @MarkDaoust How do you think?

[2020-04-19 12:59] rickiepark commented on #184
For this issue, I send PRs #9, #197, #198,

Hi @jaketae, there are your commits in my PRs #197, #198
So these PRs may need your comment(@googlebot I consent.)

Thanks

[2020-04-19 13:19] jaketae commented on #184
@rickiepark Just did, and I think all checks have passed. Thank you for letting me know! I'll also take a look at the PRs and review them if I can.

[2020-04-20 08:20] mohamed-ali opened #199 "[ar] How to show the titles in Arabic for already translated tutorials in the side navigation menu?"
When I choose the Arabic language, for a given tutorial, like this one: https://www.tensorflow.org/tutorials/keras/classification?hl=ar, I was expecting to see the title of this already translated tutorial in Arabic in the right side navigation menu, but it's showing in English as you can see in the following picture:

<img width="1265" alt="image" src="https://user-images.githubusercontent.com/28

[2020-04-20 18:40] MarkDaoust opened #200 "[ko][zh-cn] How to get chinese/korean fonts to work in matplot + Colab?"
The default Matplotlib setup in Colab doesn't include Chinese or Korean fonts, so these characters don't render.

I believe this is one of the reasons we have not been translating figure text.

I can get the browser to render this text by outputting svg-text:

[code]

But that messes up a lot of the formatting.

Some searching shows that it might just be a matter of installing the right fonts and

[2020-04-20 18:56] lamberta commented on #199
Hi @mohamed-ali

The site navigation is displayed using YAML files, for example, here's the English source for the tutorials: [site/en/tutorials/_toc.yaml](https://github.com/tensorflow/docs/blob/master/site/en/tutorials/_toc.yaml).

Unfortunately, these are out-of-scope for community translations. In the past we've allowed this, but they quickly fall out of sync with the source material—and the c

[2020-04-20 18:56] #199 closed

[2020-04-21 14:23] MarkDaoust commented on #200
@rickiepark

 Haesun are you familiar with the required setup for Korean?

[2020-04-21 16:25] rickiepark commented on #200
Yes, here is my font setup for Korean.
https://colab.research.google.com/drive/16LVK_RhuxdQSIFYFwgo2dKVQwXtOctAy
But it's not good experience because it needs to restart runtime. :(

[2020-04-21 16:46] rickiepark commented on #200
I share the notebook, please try again. :)

[2020-04-22 22:40] lamberta commented on #138
Thanks, @AseiSugiyama !

[2020-04-22 22:40] #138 closed

[2020-05-02 07:55] NEMO-WXL opened #218 "!head {train_file_path}报错"
'head' 不是内部或外部命令，也不是可运行的程序
或批处理文件。

[2020-05-02 07:56] #218 closed

[2020-05-05 05:57] AseiSugiyama commented on #145
I updated related documents by https://github.com/tensorflow/docs-l10n/pull/176 https://github.com/tensorflow/docs-l10n/pull/190 https://github.com/tensorflow/docs-l10n/pull/220 and they've been marged 🎉

I guess we can safely close this issue. Thank you for your work, @lamberta!

[2020-05-05 18:46] lamberta commented on #145
Awesome. Thank you @AseiSugiyama this is great

[2020-05-05 18:46] #145 closed

[2020-05-08 11:43] mohamed-ali opened #224 "How to translate the content under tensorflow.org/resources/learn-ml?"
Some resources under tensorflow.org/resources/learn-ml like this one https://developers.google.com/machine-learning/crash-course are useful and are already translated to multiple languages, therefore, I want to translate them into Arabic. However, their source code isn't in this repository and I couldn't find it in other repositories.

So, could explain the procedure to translate them?

Thanks.

[2020-05-12 08:33] mohamed-ali commented on #224
@lamberta  Could you help regarding this enquiry? Thanks.

[2020-05-20 02:19] sfujiwara commented on #144
PR #185 is for this issue and it merged.

[2020-05-20 02:19] #144 closed

[2020-05-20 06:35] jsato0807 opened #228 "Tensorflowのチュートリアル「Overfit and underfit」の不備"
「初心者のためのTensorFlow 2.0 入門」のチュートリアルにある「overfit and underfit」で日本語版では、Google Colabで実行するとメモリ不足でクラッシュする。

[2020-05-21 05:38] AseiSugiyama commented on #228
Hi, @jsato0807 thank you for your reporting! Let me take a look.

[2020-05-21 06:20] AseiSugiyama commented on #228
I succeed to reproduce your reporting issue. We can reproduce it from https://www.tensorflow.org/tutorials/keras/overfit_and_underfit?hl=ja

I guess we can fix this issue by updating it, however, I found another issue on the original English notebook. To keep the English notebook as the single source of the truth, I will try to fix this issue by following steps:

1. Fix the original English notebo

[2020-05-21 06:23] AseiSugiyama commented on #228
念のため日本語でも書いておきます。

手元で再現できました。最新版の英語の notebook に追従することで解決できそうですが、英語の notebook にも課題が発見されたという状況です。ドキュメントについては英語版を正とするポリシーなので、次の順で対応する予定です。

1. 英語版の課題の解決
2. 日本語版のアップデート

なので、少し時間かかってしまいますが、お待ちいただけるとありがたいです。

[2020-05-21 07:32] AseiSugiyama commented on #228
I created the PR for step 1. https://github.com/tensorflow/docs/pull/1580

[2020-06-02 01:23] tazihad opened #239 "bn - Add support for Bengali Language"
Requesting a new feature. Bengali language translation.
I am willing to contribute.

[2020-06-03 08:30] jsato0807 opened #245 "Tensorflowの「overfit and underfit」の不備"
%tensorboard --logdir {logdir}/sizes　を実行すると　UsageError: Line magic function `%tensorboard` not found.　となる。

[2020-06-06 03:24] AseiSugiyama commented on #245
Hi, this is the same issue described in https://github.com/tensorflow/docs/pull/1580 I believe this issue will be fixed by merging the PR.

[2020-06-06 11:02] jsato0807 commented on #245
thank you for teaching me about it.

[2020-06-06 11:07] jsato0807 commented on #228
わかりました。ありがとうございます。

[2020-06-12 18:58] yashk2810 commented on #184
These notebooks are failing:

https://github.com/tensorflow/docs-l10n/blob/master/site/ko/tutorials/distribute/multi_worker_with_keras.ipynb
https://github.com/tensorflow/docs-l10n/blob/master/site/ko/tutorials/keras/text_classification_with_hub.ipynb
https://github.com/tensorflow/docs-l10n/blob/master/site/ko/tutorials/keras/save_and_load.ipynb
https://github.com/tensorflow/docs-l10n/blob/master/

[2020-06-13 03:29] rickiepark commented on #184
Hi @yashk2810 , Thanks for letting me know that. :)

multi_worker_with_keras, save_and_load, python_interoperability is pending at #198 , but I check again if there are recent changes.
And I also try to fix others ASAP! :)

[2020-06-15 15:28] deflorator1980 opened #260 "Little bug?"
I think it's a bug
![image](https://user-images.githubusercontent.com/7847271/84676251-f498bf00-af35-11ea-8bd4-845697e447e0.png)

[2020-07-01 18:08] #184 closed

[2020-08-10 11:24] kruzes1 commented on #260
I want to debug it... please assign me this role. I am starting my journey in opensource world. give me an opportunity to work on it.

[2020-08-13 12:47] TheFinalHydra opened #300 "Any tutorial that does not use keras or eager execution?"
Hi, first of all, thanks for this amazing tutorial, it really clarifies many concepts.

The keras API are obviously convenient for users, except that they hide many details for learners too, which causes extra difficulty when debugging. For example, what happens inside DenseFeatures, what is the argument requirement and how does keras.layers.DenseFeatures differ from old input_layer api?

Lots of

[2020-08-20 01:59] angelawhitebear opened #319 "cannot load the datasets"
when i run:
import tensorflow_datasets as tfds
mnist_train = tfds.load(name="mnist", split="train")
wrong occured like this:
2020-08-20 09:52:45.879679: W tensorflow/core/platform/cloud/google_auth_provider.cc:178] All attempts to get a Google authentication bearer token failed, returning an empty token. Retrieving token from files failed with "Not found: Could not locate the credentials file.". R

[2020-08-21 02:51] zprhhs commented on #319
I  solve  it with https://github.com/tensorflow/datasets/issues/2182, downgrade `tensorflow-datases` to 3.1.0. Hope it works for you.

[2020-08-25 15:58] angelawhitebear commented on #319
thank you so much

[2020-08-29 21:44] lamberta commented on #300
Hi @TheFinalHydra ,
Keras and eager are part of the core TensorFlow product. That said, you don't have to use all the Keras abstractions if you don't want. Check out this guide and the other guides in this section for a more "from the ground up" approach: https://www.tensorflow.org/guide/tensor
In particular, you might find the [tf.Module guide](https://www.tensorflow.org/guide/intro_to_modules) o

[2020-08-29 21:44] #300 closed

[2020-08-29 21:50] lamberta commented on #239
Hi @tazihad  , Sorry for the delay.
Unfortunately, each language (community-driven or officially supported) adds additional maintenance costs so we're prioritizing new languages based on a combination of site metrics and community support. No plans to add Bengali translations but will keep an eye on site. Thanks

[2020-08-29 21:50] #239 closed

[2020-08-29 21:55] lamberta commented on #224
Sorry for the delay, @mohamed-ali

The [ML Crash Course](https://developers.google.com/machine-learning/crash-course) is not part of tensorflow.org so out-of-scope for this project.

The community translations here in the docs-l10n repo are restricted to technical content (guides and tutorials). Landing pages, such as the [resources/learn-ml](https://www.tensorflow.org/resources/learn-ml) are tran

[2020-08-29 21:55] #224 closed

[2020-08-29 21:59] lamberta commented on #228
https://github.com/tensorflow/docs/pull/1580 was merged so I'm going to close this issue.
Feel free to reopen if there's more to be done. Thanks!

[2020-08-29 21:59] #228 closed

[2020-08-29 22:04] lamberta commented on #260
Not sure, but I believe you're looking at this notebook: https://github.com/tensorflow/docs/blob/master/site/en/r1/tutorials/load_data/images.ipynb

It looks fixed so closing this issue. But, FYI, the TF 1.x notebooks have been archived and are no longer maintained. Thanks

[2020-08-29 22:04] #260 closed

[2020-08-29 22:06] #319 closed

[2020-08-29 22:06] lamberta commented on #245
https://github.com/tensorflow/docs/pull/1580 is merged. Thank you

[2020-08-29 22:06] #245 closed

[2020-08-29 22:09] lamberta commented on #200
@MarkDaoust Do you know what the status of this is?
I see TF Hub referenced this issue a few month ago

[2020-08-29 22:16] lamberta commented on #181
These files should be synced using our GitLocalize project: https://gitlocalize.com/tensorflow/docs-l10n

* https://gitlocalize.com/repo/4592/ru/site/en-snapshot/guide/migrate.ipynb
* https://gitlocalize.com/repo/4592/ru/site/en-snapshot/tutorials/keras/save_and_load.ipynb
* https://gitlocalize.com/repo/4592/ru/site/en-snapshot/tutorials/keras/text_classification_with_hub.ipynb
* https://gitlocali

[2020-08-29 22:16] #181 closed

[2020-08-29 22:21] lamberta commented on #146
These files should be synced using out GitLocalize project: https://gitlocalize.com/tensorflow/docs-l10n

* https://gitlocalize.com/repo/4592/zh-cn/site/en-snapshot/lite/convert/python_api.md
* `boosted_tree.ipynb` looks fixed.

But this issue is old and I'm working on a better status/notification system. Closing

[2020-08-29 22:21] #146 closed

[2020-08-29 22:25] lamberta commented on #154
These files should be synced using our GitLocalize project: https://gitlocalize.com/tensorflow/docs-l10n

* https://gitlocalize.com/repo/4592/zh-cn/site/en-snapshot/tutorials/distribute/multi_worker_with_keras.ipynb
* https://gitlocalize.com/repo/4592/zh-cn/site/en-snapshot/tutorials/generative/style_transfer.ipynb
* https://gitlocalize.com/repo/4592/zh-cn/site/en-snapshot/tutorials/keras/text_cla

[2020-08-29 22:25] #154 closed

[2020-08-29 22:44] lamberta commented on #103
Hi all, sorry for the delay but lots of developments :)

Been working with GitLocalize and will be directing most community translators to use the UI there: https://gitlocalize.com/tensorflow/docs-l10n (it's very nice and now has notebook support)

We're also working with some vendors to improve coverage---but it's still very important for the community to provide guidance since the community is m